---
import VanillaWebComponent from "../components/vanilla-web-component/VanillaWebComponent.astro";
import Page from "../layouts/Page.astro";
---

<Page title="title">
	<main>
		Libraries
		<section>
			<a href="/example">Example</a>
		</section>
	</main>
</Page>

<style>
	section {
		border: 2px solid black;
		padding: 2rem;
	}
</style>
